//Variables, mixins and font imports from Google Fonts
@import 'https://fonts.googleapis.com/css?family=Libre+Franklin:200,300,400,700|Montserrat:300,700';

$blue: #3d9ced;
$highlight-color: #444;// #d35400;
$gradient-blue-top: #28b5ef;
$gradient-blue-bottom: #4b8cec;
$orange: #e97630;
$dg: #333;
$footer-color: $dg;

//Border radius mixin
@mixin br($param) {
  -webkit-border-radius: $param;
     -moz-border-radius: $param;
      -ms-border-radius: $param;
          border-radius: $param;
}
//Box shadow for buttons or cards/panes
@mixin bs($opacity: 1, $rad: 2px) {
    -webkit-box-shadow: 0px 1px $rad 0px rgba(0,0,0,$opacity);
-moz-box-shadow: 0px 1px $rad 0px rgba(0,0,0,$opacity);
box-shadow: 0px 1px $rad 0px rgba(44,86,136,$opacity);
}
//font size mixins
@mixin heading-text($colour: white, $size: 48px) {
    font-size:$size;
    color:$colour;
}
@mixin min-font-size($size) {
    @media (max-width: $screen-lg) {
        font-size: $size;
    }
}
@mixin sub-heading-text($colour: white, $size: 24px) {
    font-size: $size;
    color: $colour;
}
@mixin normal-text($colour: black, $size: 13px) {
    font-size: $size;
    color: $colour;
}
@mixin nav-text($size) {
    font-size:$size;
    letter-spacing:2px;
}
//Mixin for nav bar styling 

@mixin nav-bar{
     list-style:none;
            display:inline-block;
            margin:0 2em;
            float:right;
            font-weight:200;
            border-bottom:2px solid rgba(255,255,255,0.0);
}
@mixin blue-gradient-bg {

background: #28b5ef; /* Old browsers */
background: -moz-linear-gradient(top,  #28b5ef 0%, #4096ee 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #28b5ef 0%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #28b5ef 0%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28b5ef', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */

    
}
//Resets + AA
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//set default font and font size and selection colour
::selection {
  background: $highlight-color; /* WebKit/Blink Browsers */
  color:white;
}
::-moz-selection {
  background: $highlight-color; /* Gecko Browsers */
  color:white;
}
body {
    font-family: Libre Franklin;
    @include normal-text($dg);
    background: #eee;
    transition: 0.3s ease;
    
}

//Top navigation styles
header {
   
    nav {
        // line-height: 48px;
        padding: 45px 0;
        @include nav-text(13px);
        
        a {
            color:white;
            
            &:hover {
                color: #eee;
            text-decoration: none;
            }
        }
        
        .nav-item {
           @include nav-bar;
        }
        
        .nav-item:hover {
          cursor:pointer;
            border-bottom:2px solid rgba(255,255,255,0.3);
        }
        
        .nav-item:nth-child(1){
            float:left;
            position:relative;
            top:-10px;
        }
        
       .brand { 
            @include nav-text(32px);
       }
       
    }
}

        
        
        
// Landing section (navbar, cta text + btns)
.landing {
    z-index: -5;
    @media (max-width: $screen-md) {
        min-height: 40vh;
    }
    
    @media (min-width: $screen-md) {
        min-height: 80vh;
    }
    
    width: 100%;
    background:url('../img/atar-bg-new.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    background-position: 50% 50%;
    background-attachment: fixed;
    
    .prompt {
        
        width: 100%;
        
        
        @media (min-width: $screen-md) {
            margin-top: 8vh;
        }
        
        @media (max-width: $screen-md) {
            margin-bottom: 28vh;
        }
        
        
        h1 {
            @include heading-text(white, 3vw);
            @include min-font-size(36px);
            font-weight:200;
        }
        
        h2 {
            @include sub-heading-text(white, 3vh);
            font-weight:200;
            padding-bottom:4vh;
        }
    }
}
//3 marketing points section
.why-atar {
    min-height:800px;
    background:white;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: -70px; // move the slanted div up
    margin-bottom: 70px; // move the slanted div up
    
    h2 {
        @include heading-text($dg, 2.5vw);
        @include min-font-size(34px);
        font-weight:200;
        padding: 45px;
    }
}

.subjects {
    
    min-height: 200px;
    background: $brand-primary;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-top: -70px; // move the slanted div up
    margin-bottom: 80px; // move the slanted div up
    color: #fefefe;
    
    h2 {
        @include heading-text(white, 2.5vw);
        @include min-font-size(34px);
        font-weight:200;
        padding: 45px;
    }
    
    .subject-list { 
        div {
            margin-bottom: 30px;
        }
    }
}

/* Skew the container one way */
.skew-neg {
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
    transform: skewY(-4deg);
}

/* And the child another way */
.skew-pos {
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    -o-transform: skewY(4deg);
    transform: skewY(4deg);
}

//even numbered timeline content divs
.simple-vert-timeline:nth-child(1) {
  text-align:right;
}

footer{
    color: #fefefe;
    background: $footer-color;
    width: 100%;
    position:relative;
    margin: 0;
    height: auto;
    bottom:0;
    left:0;
    padding: 20px;
    
    p {
        margin: 0;
        padding: 0;
    }
}