.form-control, .btn {
    border: 0;
    @include br(0);
    
}

.form-inline .form-group {
    padding-right: 5px;
}

.btn-lg {
    // Seems the padding isn't consistent with input-lg...
    padding-top: 11px;
    padding-bottom: 11px;
}


// Different colours
.btn-atar {
  @include button-variant($btn-primary-color, #3498db, #000);
}
