.ac-icon {
    
    
    display: inline-block;
    
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1em;
    
    height: auto;
    width: auto;
    max-width: 10em;
   
    font-size: 48px;
    
    
    
}

.diploma {
    background: url('../img/landing/diploma.svg') no-repeat;
}

.science {
    background: url('../img/landing/science.svg') no-repeat;
}

.school {
    background: url('../img/landing/school.svg') no-repeat;
}

.school-1 {
    background: url('../img/landing/school-1.svg') no-repeat;
}

.atar-logo {
    width:145px;
    height:30px;
    background: url('../img/logo.png') no-repeat;
}

.menu {
        height:32px;
        width:32px;
    background: url('../img/landing/menu.svg') no-repeat;
}