$timeline-border-color: #d4d4d4;

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

@media (min-width: $screen-sm) 
{
  .timeline:before {
    top: 120px;
    bottom: 180px;
    position: absolute;
    content: " ";
    width: 4px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  
  .timeline > li > .timeline-panel {
    width: 50%;
    float: left;
    padding: 40px;
    position: relative;
    //-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    //box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  
  .timeline > li.timeline-inverted + li:not(.timeline-inverted),
  .timeline > li:not(.timeline-inverted) + li.timeline-inverted {
    margin-top: -170px;
  }

  .timeline > li:not(.timeline-inverted) {
    padding-right:120px;
    text-align: right;
    // TODO; mobile, smaller.
  }
  
  .timeline > li.timeline-inverted {
    padding-left:120px;
    // TODO; mobile, smaller.
  }
  
  .timeline > li > .timeline-badge {
    color: red;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    // top: 16px;
    left: 50%;
    margin-top: 100px;
    margin-left: -48px;
    background-color: transparent;
    z-index: 100;
  
    
    width:50px; 
    height:100px;  
    border:solid 3px;
    border-top: 0;
    border-left: 0;
    border-color:transparent #eee #eee transparent;
    border-radius: 0px 0px 250px 0px;
  
    .dot {
      position: relative;
      float: left;
      width: 16px;
      height: 16px;
      left: -15px;
      margin-top: 90px;
      background: $brand-primary;
      @include br(100px);
    }
    
  }

  .timeline > li.timeline-inverted > .timeline-badge {
    margin-left: -1px;
    border-color:transparent transparent #eee #eee;
    border-radius: 0px 0px 0px 250px;
    
    border-left: solid #eee;
    border-right: 0;
    
    .dot {
      float: right;
      left: auto;
      right: -15px;
    }
  }
  
  
  // Format first bent border line
  .timeline > li.timeline-inverted:first-child > .timeline-badge {
    
    margin-top: 50px;
    margin-left: -2px;
    
    border-left: solid #eee 4px !important;
    border-top: solid #eee 4px !important;
    border-color:#eee transparent transparent #eee;
    border-radius: 250px 0px 0px 0px;
    
    .dot {
      margin-top: -10px;
    }
  }
  
  // Format last bent border line
  .timeline > li:last-child > .timeline-badge {
    border-right: solid #eee 4px !important;
    border-bottom: solid #eee 4px !important;
    margin-top: 140px;
    margin-left: -48px;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
}


.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}

.timeline-title {
  font-weight: 600;
  margin-top: 0;
  color: $brand-primary;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
  font-size: 14px;
}
.timeline-body > p + p {
  margin-top: 5px;
}

.timeline-body > p + .timeline-btn {
  margin-top: 16px;
}

@media (max-width: $screen-sm) 
{
  .timeline {
    .timeline-heading, .timeline-btn {
      text-align: center;
    }
  }
}